@import "tailwindcss";

.profiles {
  padding: 5em;
  flex-wrap: wrap;
}

img.profile-picture {
  padding: 1.4em;
  border-radius: 50em;
  object-fit: cover;
  width: 10em;
  height: 10em;

}

div.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(216, 216, 216);
  border-radius: 1em 1em 1em 1em;
  border-width: fill 40em #747bff;
  height: 20em;
  width: 11em;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 1em;
  font-size: 0.5em;
  flex-wrap: wrap;
  padding: 2em;
  gap: 1em;
}


button.hire {
  font-size: 0.7em;
  border-radius: 0;
  height: 3em;
  width: 8em;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
