@import "tailwindcss";

.profiles {
  position: relative;
  padding: 5em;
  flex-wrap: wrap;
}

.profile-card {
  background-color: #f94762;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1em 1em 1em 1em;
  height: 20em;
  width: 11em;
  overflow: hidden;
}


img.profile-picture {
  object-fit: cover;
  width: 20em;
  height: 9em;
}

.name {
  padding: 1em;
}
.bio {
  display: flex;
  font-size: 0.4em;
  flex-wrap: wrap;
  gap: 1em;
}
.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1em;
  font-size: 0.4em;
  flex-wrap: wrap;
  padding: 2em;
  gap: 1em;
  background-color: none;
}

.skills button {
    border-radius: 0;
    width: 7em;
    background-color: #f94762;
    border-color: black;
    border-width: 0.2em;
}

span {
  display: flex;
  flex-direction: row;
}

button.hire {
  bottom: 0;
  /* border: solid rgb(155, 143, 143); */
  border-radius: 0;
  color: rgb(239, 233, 233);;
  font-size: 0.7em;
  height: 3em;
  width: 8em;
}


p {
  color: black;
  font-weight: 800;
  font-size: 8pt;
  display: flex;
  flex-direction: row;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
