@import "tailwindcss";

.profiles {
  position: relative;
  padding: 5em;
  flex-wrap: wrap;
}

div.online {
  bottom: 41em;
  width: 5em;
  height: auto;
  font-size: 0.4em;
  font-weight: 600;
  color: #181818;
  align-items: center;
  background-color: #c2e8aebd;
  position: absolute;
  text-align: center;

  z-index: 1;

  padding: 0.2em;
}


.watch {
  bottom: 5.6em;
  display: flex;
  width: 2em;
  position: absolute;
  cursor: pointer;

}

.watch :hover {
  filter:opacity(0.5)
}
img.profile-picture {
  object-fit: cover;
  width: 20em;
  height: 9em;
}

.name {
  padding: 1em;
}

.skills {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 1em;
  font-size: 0.4em;
  flex-wrap: wrap;
  padding: 2em;
  gap: 1em;
  background-color: none;
}

.skills button {
    border-radius: 0;
    width: 7em;
    background-color: #f94762;
    border-color: black;
    border-width: 0.2em;
}

span {
  display: flex;
  flex-direction: row;
}

button.hire {
  padding: 1.5em;
  /* border: solid rgb(155, 143, 143); */
  border-radius: 0;
  color: rgb(239, 233, 233);;
  font-size: 0.4em;
  height: 2em;
  width: auto;
}


p {
  color: black;
  font-weight: 800;
  font-size: 8pt;
  display: flex;
  flex-direction: row;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
